.n-container .n-logo {
<<<<<<< Updated upstream
  width: 5rem;
  height: 12%;
  position: absolute;
=======
  min-width: 20rem;
  height: 12%;
  position: fixed;
>>>>>>> Stashed changes
}

.n-container .n-logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
<<<<<<< Updated upstream
=======
  padding-top: 3rem;
>>>>>>> Stashed changes
}

.n-container {
  width: 100%;
  height: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
<<<<<<< Updated upstream
}

.n-menu {
  width: 65%;
  padding-top: 2rem;
=======

  
}

.n-menu {
  width: 60%;
  padding-top: 4rem;
>>>>>>> Stashed changes
}

.n-menu ul {
  display: flex;
  flex-direction: row;
<<<<<<< Updated upstream
  margin-left: 12rem;
}

.n-menu li {
  color: var( --brand-blue);
  list-style: none;
  margin-right: 5rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
=======

  margin-left: 20rem;
}

.n-menu li {
  list-style: none;
  margin-right: 5rem;
  font-size:1rem;
  font-weight: bold;
 text-transform: uppercase;
 letter-spacing: 1px;
>>>>>>> Stashed changes
}
.n-menu ul .n-jobsearch {
  text-decoration: none;
}
<<<<<<< Updated upstream

.n-menu li:hover {
  cursor: pointer;
  color: var(--brand-skyblue);
  border-bottom: 1px solid black;
}

.n-si-re{
    padding-top: 2rem;
}
=======
.n-menu li:hover{
    cursor: pointer;
    color: var(--brand-skyblue);
}
>>>>>>> Stashed changes
