.n-container .n-logo {
   min-width: 20rem;
   height: 12%;
   position: fixed;
}

.n-container .n-logo img {
   object-fit: contain;
   width: 100%;
   height: 100%;
   padding-top: 3rem;
}

.n-container {
   width: 100%;
   height: 0rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.n-menu {
   width: 60%;
   padding-top: 4rem;
}

.n-menu ul {
   display: flex;
   flex-direction: row;

   margin-left: 20rem;
}

.n-menu li {
   list-style: none;
   margin-right: 5rem;
   font-size: 1rem;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
}
.n-menu ul .n-jobsearch {
   text-decoration: none;
}
.n-menu li:hover {
   cursor: pointer;
   color: var(--brand-skyblue);
}
