.sir-outer-container {
   background-image: linear-gradient(
         180deg,
         rgba(255, 255, 255, 0.23853291316526615) 26%,
         rgba(0, 30, 88, 0.5970763305322129) 63%
      ),
      url(../../Images/AdobeStock_229549310.jpeg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
   max-height: auto;
   padding-top: 10vh;
   transition: background-image 0.3s ease-in-out;
}
.sir-inner-container {
   min-height: 100%;
   max-height: 100%;
   margin-left: auto;
   margin-right: auto;
}

.sir-sign-in-register {
   display: flex;
   width: 30rem;
   justify-content: space-between;
   padding-top: 1rem;
   margin: 0 auto;
}
.sir-sign-in-register p {
   font-size: 1.5rem;
   font-weight: 700;
   cursor: pointer;
   padding: 1rem 4rem;
   transition: all 0.3s ease-in-out;
}
.sir-sign-in-register p:hover {
   color: #777777;
   background-color: rgba(0, 0, 0, 0.1);
   border-radius: 4px;
}
.sir-logo {
   margin: 3rem 0 1.5rem;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.active {
   border-bottom: 2px solid #6211fd;
   color: #6211fd;
}
